.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6b4737;
    --bs-btn-border-color: #6b4737;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b4737;
    --bs-btn-hover-border-color: #6b4737;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #5b4040;
    --bs-btn-active-bg: #c9c2bf;
    --bs-btn-active-border-color:#c6714c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6b4737;
    --bs-btn-disabled-border-color: #6b4737;
}


.card-title{
   color: #b75c0d;
}



.heading{
    color: #502c0e;
    padding-block:12px ;
    text-align: center;
}
.btn-success {
    width: 150px;
    --bs-btn-color: #fff;
    margin-inline-end: 12px;
    --bs-btn-bg: #c6714c;
    --bs-btn-border-color: #c6714c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c6714c;
    --bs-btn-hover-border-color: #c6714c;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c6714c;
    --bs-btn-active-border-color: #c6714c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c6714c;
    --bs-btn-disabled-border-color: #c6714c;
}

